* {
   box-sizing: border-box;
}

header,
footer,
article,
aside {
   padding: 1em;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   margin: 0;
}

a {
   text-decoration: none;
   cursor: pointer;
   opacity: 0.9;
}

article {
   flex: 1 1 60%;
   background-color: white;
}

aside {
   flex: 1 1 40%;
   background-color: #fff0ea;
}

footer {
   height: 8vh;
   margin-left: 17px;
   justify-content: right;
   align-items: center;
   background-color: #fafafa;
   font-family: "Raleway", sans-serif;
   color: #3d3d3d;
}

@media screen and (max-width: 600px) {
   footer {
      flex-direction: column;
   }
}

.follow {
   background: transparent;
   color: #553fd4;
   padding: 11px 27px 11px 27px;
   margin-right: 20px;
   margin-left: 12px;
   border: 2px solid #553fd4;
   border-radius: 20px;
   font-size: 0.7em;
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   text-transform: uppercase;
   cursor: pointer;
   justify-content: flex-end;
   align-items: baseline;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}

button.follow:hover {
   background-color: #ffd500;
   color: #553fd4;
   border-color: #ffd500;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}

header {
   background-color: white;
   height: 14vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

header img {
   width: 45px;
   border-radius: 50%;
}

@media screen and (max-width: 600px) {
   header {
      flex-direction: column;
   }
   header img {
      margin-bottom: 15 px;
   }

   header .follow {
      margin-top: 15px;
      margin-bottom: 15px;
   }
}

#logo {
   align-items: center;
   margin-left: 17px;
   margin-right: 8px;
   transition: transform 0.2s;
}

#logo:hover {
   transform: scale(0.8);
}

main {
   height: 100%;
   display: flex;
   flex-direction: row-reverse;
   flex: 0 1 auto;
   flex-wrap: wrap-reverse;
}

@media screen and (max-width: 700px) {
   main {
      flex-direction: column-reverse;
   }
}

.main-top {
   font-family: "Raleway", sans-serif;
   font-size: 5em;
   justify-content: center;
   color: #642ee4;
   transition: transform 0.2s;
}

.main-top:hover {
   color: #ffd500;
   transform: scale(1.5);
}

.main-bottom {
   font-family: "Merriweather", serif;
   font-size: 0.8em;
   justify-content: center;
}

.nav-left {
   font-family: "Noto Sans JP", sans-serif;
   font-size: 1.2em;
   color: #3d3d3d;
   letter-spacing: 1px;
   padding-left: 10px;
}

.nav-left:hover {
   color: #642ee4;
}

.top-left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.top-right {
   display: flex;
   justify-content: center;
   align-items: center;
}

#profile-foto {
   width: 380px;
   position: absolute;
   top: 26%;
   left: 8.5%;
   clip-path: circle();
}

@media screen and (max-width: 400px) {
   #profile-foto {
      flex-direction: column;
   }
}
